body {
  background-color: #3E4551;
}
.Aligner {
  /*height: 100vh;*/
  width: 100%;
  font-family: Arial;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  -webkit-flex-direction: column;
  flex-direction: column;
}
.error {
  width: 100%;
  color: white;
  background-color: #ef9a9a;
  opacity: 0.8;
  text-align:center;
  border-radius: 2px;
}
.signup {
  width: 30%;
  margin-top: 5%;
}
input {
  margin-bottom: 2rem;
  width: 80%;
  text-align: center;
}
.bigcard button {
  width: 100%;
  margin: 0;
  margin-bottom: 2rem;
}
.bigcard {
  max-width: 60vw;
  padding: 4rem;
  margin-top: 5%;
  text-align: center;
}
.card-contents {
  margin: 2rem;
}
.dropdownloggedin {
  width: 10%;
}
.dropdownsubmit {
  text-align: center;
  width: 10%;
}
.dropdown input {
  width: 80%;
  margin: 0.5rem;
  text-align: center;
}
.grid-by-rows {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.grid-by-columns {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  width: 99%;
}
.flexMasonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  max-height: 800px;
  font-size: 0;
}
.subtext {
  font-size: 0.75rem;
}
.grid-item {
  width: 100%;
  margin: 0.5rem;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.grid-item a {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item img {
  width: 95%;
  margin-top: 0.5rem;
}
.description-row {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 95%;
  min-height: 3rem;
}
.description-row button {
  margin: 0;
  padding: 0.5rem;
}
.description-row .btn-default, .btn-default-dark {
  height: 32px;
  width: 38px;
  white-space:nowrap !important;
}
.description-text {
  margin-right: auto;
}
.btn-info {
  background-color: #00bcd4 !important;
}
.selectedcard {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.searchresult:hover {
  background-color: #e0f7fa;
}
.selectedresult {
  background-color: #80deea;
}
